@import "mixins/keyframes";
@import "variables";

body {
	//background-image: url("/images/Indo_TelosIslands_RailGrab%20smaller.jpeg");
    //background-color
	//background-repeat: no-repeat;
	//background-attachment:fixed;
    //background-size: cover;
	background-color: $bodycolor;

	//min-height: 100%;
}

hr {
  border-top: solid 1px rgba(255, 255, 255, 0.125);
}

.alert.alert-info {
	background-image: none;
	background-color: $headerColor;
	color: $green;
	border: 0;
	box-shadow: none;
	font-size: 1.2em;
	font-weight: 200;
}
.list-group-item {
	background-color: $headerColor;
	font-weight: bold;
	font-size: 18px;
}
.table > tbody > tr.info > td {  // overrides a bootstrap rule
	background-color: $headerColor;
	padding-top: 20px;
	border-bottom: solid 2px;

	text-transform: uppercase;
	letter-spacing: 2px;
}

.profile-pic {
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); // from material design fab
}

.container-fluid .jumbotron {
	-webkit-font-smoothing: antialiased;
	background-color: rgba(0, 42, 64, .98);
	color: whitesmoke;
	margin: 20px 0;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 5px;
	border: solid 1px #222;
	font-weight: normal;
	box-shadow: 0 0 6px rgba(0,0,0,.8);


	h1 {
		font-weight: 300;
		font-size: 40px;
		letter-spacing: 1px;
		color: whitesmoke;
		text-transform: uppercase;
	}

//	a {
//		font-weight: normal;
//		color: $green;
//	}
}
.well {
	-webkit-font-smoothing: antialiased;
	background-color: rgba(0, 42, 64, .85);
	background-image: none;
	color: #f5f5f5;
	margin: 20px 0;
	padding: 20px;
	border-radius: 5px;
	border: solid 1px $headerColor;
	font-weight: normal;
    box-shadow: 0 0 6px rgba(0,0,0,.8);
    float: left;
    width: 100%;

	h2 {
		color: $green;
		font-weight: 300;
	}
	h3 {
			font-weight: normal;
			border-bottom: solid 1px rgba(255,255,255, .125);
			padding-bottom: 5px;
			margin-top: 25;
			color: $green;
			font-weight: 300;
	}
	a {
		color: $green;
		font-weight: bold;

		&:hover {
			// text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
			// text-decoration: none;
		}
	}
}

.jumbotron, .well {
	.table tr {
		background-color: $tableRowColor;

		td, th {
			padding: 10px 20px;
			font-size: 1.2em;
			border-bottom: solid 1px rgba(255, 255, 255, 0.125)
		}
		th {
			padding-bottom: 0;
			vertical-align: bottom;
		}
	}
	.table.horizontal th {
		padding-bottom: 10px;
	}
	.map-container {
		height: auto;
		opacity: .9;
		background-color: $headerColor;

	}
	.map {
		padding-top: 20px;
		margin-bottom: 10px;
		box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.625);
		background-color: $headerColor;
		border-radius: 5px;
	}

	.map .embed-responsive {
		max-width: 96%;
		margin: 0 auto;
		opacity: .85;
	}
}

body .btn-default {
	box-shadow: 0px 2px 1px -1px rgba(255,255,255, .5);
	background-color: $headerColor;
	background-image: none;
	color: white;
	text-shadow: 0 1px #333;

	line-height: 1;
	padding: 7px 15px;
	font-size: 16px;
}

.btn-primary.btn.red9-button {
  background-color: $headerColor;
  background-image: none;
  padding: 4px 10px;
}

@include keyframes(pulsate) {
	0% {-webkit-transform: scale(0.9, 0.9); opacity: 0.6;}
	75% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.6;}
}

// Spinner
.spinner-wrapper {
	// color: rgba(238,20,91, .9);
	text-align: center;
	width: 100%;


	.red9logo {
		background-image: url(/images/red9-logo-sm.png);
		background-repeat: no-repeat;
		background-position: center center;
		display: inline-block;

		@include animation('pulsate 4s 0s infinite');

		&.large {
			height: 60px;
			width: 60px;
		}

		&.med {
			height: 50px;
			width: 50px;
		}

		&.small {
			height: 40px;
			width: 40px;
		}
		&.large:after {
			content: "Loading...";
			display: block;
			height: 30px;
			width: 100px;
			color: $logocolor;
			position: absolute;
			bottom: -26px;
			left: -16px;
			font-weight: bold;
			font-style: normal;
		}
	}
}

// Tabs
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 17px;
	border: 1px solid transparent;
	border-radius: 7px 7px 0 0;
	border: solid 1px #f7f7f7;
	cursor: pointer;
}
