@import "../scss/red9theme";

.visualization.chart.rawmap {

  $tickColor: #f1f1f1;

  .pegman {
    path, circle {
      stroke: black;
      stroke-width: 2px;
      fill: orange;
    }
  }

  .markers {
    font-family: Glyphicons Halflings;
    font-size: 14;
    .start {
      stroke: green;
    }
    .end {
      stroke: red;
    }
  }

  .pegman:not(.dragging):hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }

  .pegman.dragging {
    cursor: default;
  }

  .heatline {
    stroke-width: 2px;
  }

  .scaleTickLabel {
    font-size: 10pt;
    fill: $tickColor;
  }

  .gridLine {
    stroke-width: 1px;
    stroke: #9CD0FF;
  }

  .scaleTick {
    stroke-width: 3px;
    stroke: $tickColor;
  }

  .background {
    fill: #93C6E6;
    stroke-width: 0px;
  }

  .path {
    fill: none;
    pointer-events: visibleStroke;
  }

  .path.valid {
    stroke: #559141;
    stroke-width: 3px;
  }

  .path.invalid {
    stroke: #9c9c9c;
    stroke-width: 2px;
  }

}

.visualization.chart.timeseries {
  line.hoverline {
    stroke-width: 2px;
    stroke: red;
    stroke-opacity: 0.5;
  }

  rect.plotarea {
    fill-opacity: 0;
  }

  .series {
    fill: none;
    pointer-events: visibleStroke;
  }

  .plotgroup {
    stroke-width: 1px;
  }

  .plotgroup:hover {
    stroke-width: 1.5px;
  }

  line.axis {
    stroke-width: 1px;
    stroke: #949494;
    shape-rendering: crispEdges;
  }

  text.axis {
    font-size: 8pt;
    fill: #949494;
  }

  .valuebox text {
    font-size: 10pt;
    fill: #949494;
  }

  .axis.label {
    font-size: 10pt;
    fill: #949494;
  }

  .key {
    font-size: 12pt;
    stroke-width: 0px;
    cursor: pointer;
  }
}

$measurements: (
        accelerationX : #FFA500,
        accelerationY : #6B8E23,
        accelerationZ: #0000CD,
        rotationRateX: #C71585,
        rotationRateY: #32CD32,
        rotationRateZ: #4169E1,
        magneticFieldX: #FF4500,
        magneticFieldY: #3CB371,
        magneticFieldZ: #191970,
        gpsAltitude: #FF6347,
        gpsSpeed: #8B4513,
        gpsSatellites: #4B0082,
        gpsHdop: #228B22,
        pressurePressure: #2E8B57,
        pressureTemperature: #F4A460
);

@each $key, $value in $measurements {
  .measurement.#{$key} {
    stroke: $value;
    fill: $value
  }
}

.ngFade.ng-enter {
  transition: 0.1s linear all;
  opacity: 0;
}

.ngFade.ng-enter-active {
  opacity: 1;
}

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

.bullet-graph {
  background-color: #c4e3f3;
  width: 40%; /* Adjust with JavaScript */
  height: 10px;
  border-radius: 2px;
}

/* Taken from http://stackoverflow.com/a/25517025/2557842 */
.row-vertical-center {
  display: flex;
  align-items: center;
}

/* Taken from http://stackoverflow.com/a/13771448/2557842 */
.table tbody > tr > td.vertical-center {
  vertical-align: middle;
}

/* Taken from http://stackoverflow.com/a/2359459/2557842 */
span.nobreak {
  white-space: nowrap;
}

/* Taken from http://stackoverflow.com/questions/21294917/creating-a-splash-screen-using-ng-cloak */
[ng-cloak].splash {
  display: block !important;
}

.splash {
  position: absolute;
  width: 100%;
  top: 0;
  display: none;
}

/*
       Event Timeline
       */
.event-timeline-axis path,
.event-timeline-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  opacity: 0.2;
}

.event-timeline-axis text {
  font-family: sans-serif;
  font-size: 11px;
  opacity: 0.5;
}

.event-timeline-markers {
  fill: #377eb8;
  opacity: 0.5;
}

.event-timeline-markers-source-auto {
  fill: #b87137;
}

.event-timeline-markers-highlight {
  fill: #FF0000;
}

.event-timeline-markers-select {
  stroke: #000000;
  stroke-width: 3;
}

.event-timeline-types {
  font-size: 12px;
  font-family: Arial, sans-serif;
  opacity: 0.5;
  white-space: nowrap;
  margin-left: 3px;
  bottom: 1px;
}

.event-timeline-types-highlight {
  opacity: 1;
}

div[dc-angular-chart] {
  width: 100%;
}

.graph-toolbar {
  padding-top: 8px;
  border-width: 0px;
  background-color: #222222;
}

.graph-area {
  background-color: white;
  // Apply a min-height since, when the area loads, it's full of elements with 0 height.
  min-height: 2000px;
}


#loading-bar .bar {
  background: $logocolor;
  // This isn't the best: it's hard coded based on the Bootstrap nav height.
  top: 48px;
  height: 4px;
}

#loading-bar .peg {
  -moz-box-shadow: $logocolor 1px 0 6px 1px;
  -ms-box-shadow: $logocolor 1px 0 6px 1px;
  -webkit-box-shadow: $logocolor 1px 0 6px 1px;
  box-shadow: $logocolor 1px 0 6px 1px;
}
