<!DOCTYPE html>
<html lang="en" class="no-js" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-cloak ng-bind="pageTitle">Red9 Sensor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <!-- build:css css/styles.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="bower_components/dcjs/dc.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="my-client/app.css"/>
    <link rel="stylesheet" href="components/map/map.css"/>
    <!-- endbuild -->
</head>
<body ng-strict-di>


<!-- The splash screen must be first -->
<div class="splash" ng-cloak>
    <div class="alert alert-info">
        <h2>Loading...</h2>
    </div>
</div>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" id="topnavbar" ng-cloak>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-init="navbarCollapsed=true"
                    ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/images/red9-logo-sm.png" width="50px"
                             height="50px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true"-->
        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav" ng-if="current.user">
                <li><a href="/dataset/">Sessions</a></li>
                <li dropdown>
                    <a href="#" dropdown-toggle>Leaderboards <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/leaderboard/">All</a></li>
                        <li><a href="/leaderboard/leaderboard-team">Mira Costa
                            Team</a></li>
                        <li><a href="/leaderboard/leaderboard-pe">Mira Costa
                            PE</a></li>
                        <li><a
                                href="/leaderboard/leaderboard-general">Public</a>
                        </li>
                    </ul>
                </li>
                <li dropdown>
                    <a href="#" dropdown-toggle>More <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Actions</li>
                        <li><a href="/upload/rnc">Upload</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Search</li>
                        <li><a href="/event/">Events</a></li>
                        <li><a href="/user/">Users</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Settings</li>
                        <li><a href="/admin/">Admin</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="!current.user">
                <li><a href="/page/about">About</a></li>
                <li><a href="/page/team">Team</a></li>
                <li><a href="/page/jobs">Jobs</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li dropdown ng-if="current.user">
                    <a href="#" dropdown-toggle>{{current.user.displayName}}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="/user/{{current.user.id}}">View
                            Profile</a></li>
                        <li><a ng-href="/user/{{current.user.id}}/admin">Settings</a>
                        </li>
                        <li><a href="" ng-click="authenticate.logout()"><span
                                class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="!current.user">
                    <a ng-click="authenticate.login()">Sign In&nbsp;<span
                            class="glyphicon glyphicon-log-in"></span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<br/><br/><br/>

<!-- Some space so that the navbar doesn't cover up the page... -->

<div class="container-fluid" ng-cloak>
    <!--[if lt IE 9]>
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h3>Internet Explorer Users:</h3>

        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>

        <p>This site works best with modern Chrome.</p>
    </div>
    <![endif]-->
    <ui-view></ui-view>
</div>



<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-remove="true"></script>

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/crossfilter/crossfilter.js"></script>
<script src="bower_components/dcjs/dc.js"></script>
<script src="bower_components/angular-dc/dist/angular-dc.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="config.js"></script>

<!-- build:js js/app.js -->
<script src="app.js"></script>
<script src="my-client/userprofile/userprofile.js"></script>
<script src="my-client/uploadrnc/uploadrnc.js"></script>
<script src="my-client/leaderboard/leaderboard.js"></script>
<script src="my-client/sitestatistics/sitestatistics.js"></script>
<script src="my-client/unauthenticated/unauthenticated.js"></script>
<script src="my-client/home/home.js"></script>
<script src="my-client/edituserprofile/edituserprofile.js"></script>
<script src="my-client/admin/admin.js"></script>
<script src="my-client/dataset/dataset.js"></script>
<script src="my-client/dataset/summary/summary.js"></script>
<script src="my-client/dataset/details/details.js"></script>
<script src="my-client/dataset/details/session/session.js"></script>
<script src="my-client/dataset/details/event/event.js"></script>
<script src="my-client/dataset/graphs/graphs.js"></script>
<script src="my-client/dataset/admin/admin.js"></script>
<script src="my-client/search/search.js"></script>
<script src="my-client/event/event.js"></script>
<script src="components/api/api.js"></script>
<script src="components/resourcelist/resourcelist.js"></script>
<script src="components/confirmdialog/confirmdialog.js"></script>
<script src="components/search/event/eventsearch.js"></script>
<script src="components/keypressenter/keypressenter.js"></script>
<script src="components/validfile/validfile.js"></script>
<script src="components/userinput/userinput.js"></script>
<script src="components/badgelist/badgelist.js"></script>
<script src="components/taghelper/taghelper.js"></script>
<script src="components/eventtimeline/eventtimeline.js"></script>
<script src="components/listgroupsimple/listgroupsimple.js"></script>
<script src="components/map/map.js"></script>
<script src="components/summarystatistics/summarystatistics.js"></script>
<script src="components/userdetails/userdetails.js"></script>
<script src="components/userinputimperial/userinputimperial.js"></script>
<script src="components/eventssummary/eventssummary.js"></script>
<script src="components/aggregatestatistics/aggregatestatistics.js"></script>
<script src="components/fcpxmldownload/fcpxmldownload.js"></script>
<script src="components/head/head.js"></script>
<script src="components/authenticate/authenticate.js"></script>
<script src="components/filters/display/duration.js"></script>
<script src="components/filters/display/sumduration.js"></script>
<script src="components/filters/display/units.js"></script>
<script src="components/queryvalidator/queryvalidator.js"></script>
<script src="components/querybuilder/dataset/dataset.js"></script>
<script src="components/pageapi/pageapi.js"></script>
<script src="components/tile/dataset/dataset.js"></script>
<script src="components/responsivedetection/responsivedetection.js"></script>
<script src="my-client/svg/svg.js"></script>
<script src="components/visualizations/charts/timeseries/timeseries.js"></script>
<script src="my-client/experiment/experiment.js"></script>
<script src="my-client/mapdemo/mapdemo.js"></script>
<script src="components/geo/geo.js"></script>
<script src="components/visualizations/maps/local/local.js"></script>

<script src="init.js"></script>
<!-- endbuild -->

</body>
</html>
