// Fonts
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$notoSans: "Noto Sans", sans-serif; 

// Colors

$bodycolor: rgb(1,0,31); 
$green: rgb(142,197,73);
$headerColor: rgb(0, 61, 84);
$placeHolderColor: rgb(175,175,175);