<div class="btn-group btn-group-md">
    <a class="btn btn-default" ng-href="#{{scrollToId}}" du-smooth-scroll ng-click="page.first()">First</a>
    <a class="btn btn-default" ng-href="#{{scrollToId}}"
       du-smooth-scroll
       ng-click="page.previous()">Previous</a>
</div>
<div class="btn-group btn-group-md">
    <a class="btn btn-default" ng-href="#{{scrollToId}}" du-smooth-scroll ng-click="page.next()">Next</a>
    <a class="btn btn-default" ng-href="#{{scrollToId}}" du-smooth-scroll ng-click="page.last()">Last</a>
</div>