<!DOCTYPE html>
<html lang="en" class="no-js" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-cloak ng-bind="pageTitle">Red9 Sensor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <!-- build:css css/sessionshare.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

    <link rel="stylesheet" href="fragments/sessionshare/sessionshare.css"/>


    <!-- endbower -->
    <link rel="stylesheet" href="my-client/app.css"/>
    <!-- endbuild -->
</head>
<body ng-strict-di>

<!-- The splash screen must be first -->
<div class="splash" ng-cloak>
    <div class="alert alert-info">
        <h2>Loading...</h2>
    </div>
</div>

<!-- Some space so that the navbar doesn't cover up the page... -->

<div class="sessionshare" ng-cloak ng-controller="pageController">
    <!--[if lt IE 9]>
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h3>Internet Explorer Users:</h3>

        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>

        <p>This site works best with modern Chrome.</p>
    </div>
    <![endif]-->


    <img class="logo" src="/images/red9-logo.png">

    <div class="title">
        <h1>{{dataset.title}}</h1>
    </div>

    <img class="user-picture" ng-src="{{dataset.user.picture}}">

    <div class="map">
        <!--<leaflet ng-if="map"-->
        <!--defaults="map.defaults"-->
        <!--layers="map.layers"-->
        <!--center="map.center"-->
        <!--markers="map.markers"></leaflet>-->
        <map panel="dataset.panel.panel" highlights="highlights"></map>
    </div>

    <div class="stat sub-title row">
        <div class="col-xs-6"><h2>{{viewModel.sessionDuration | duration:true}}</h2></div>
        <div class="col-xs-6"><h2>{{viewModel.waveCount}} waves</h2></div>
    </div>

    <div class="stat footer footer-label"><h2>Best Waves</h2></div>

    <div class="stat footer row">
        <div class="col-xs-4"><h2>{{viewModel.fastestWave | units:'knots':'mph' | number:1}} mph</h2></div>
        <div class="col-xs-4"><h2>{{viewModel.farthestWave | units:'meters':'feet' | number:0}} ft</h2></div>
        <div class="col-xs-4"><h2>{{viewModel.longestWave | duration:true}}</h2></div>
    </div>


    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <div>

    </div>


    {{testdata}}

    {{logout}}
</div>


<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-remove="true"></script>

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="config.js"></script>

<!-- build:js js/app.js -->

<script src="fragments/sessionshare/sessionshare.js"></script>
<script src="components/authenticate/authenticate.js"></script>
<script src="components/head/head.js"></script>
<script src="components/api/api.js"></script>
<script src="components/map/map.js"></script>

<script src="components/filters/display/duration.js"></script>
<script src="components/filters/display/sumduration.js"></script>
<script src="components/filters/display/units.js"></script>


<script src="init.js"></script>
<!-- endbuild -->

</body>
</html>
