@import "../../scss/red9theme";

.sessionshare {

  font-family: $red9font;

  $fragment-width: 950px;
  $fragment-height: 700px;
  $title-height: 50px;
  $map-width: $fragment-width;
  $data-width: 450px;
  $user-picture-diameter: $title-height*2;
  $user-picture-left: $fragment-width - $user-picture-diameter - 10px;
  $footer-height: 40px;
  $footer-label-height: 25px;
  $attribution-height: 35px;

  img.logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: $user-picture-diameter;
    width: $user-picture-diameter;
  }

  img.user-picture {
    position: absolute;
    //right: $fragment-width;
    top: 10px;
    left: $user-picture-left;
    height: $user-picture-diameter;
    width: $user-picture-diameter;
    border-radius: 50%;
    z-index: 2;
  }

  .sport {
    position: absolute;
    left: $user-picture-left - 5px;
    top: $user-picture-diameter + 10px + 5px;

    width: $user-picture-diameter + 10px;

    height: 30px;
    line-height: 30px;
    font-size: 20px;

    border-radius: 15px 15px 15px 15px;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    text-align: center;
    color: white;

  }

  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: $fragment-width;
    height: $title-height;
    background-color: $logoblack;

    z-index: 1;

    h1 {
      margin: 0;
      line-height: $title-height;
      text-align: center;
      color: white;
      font-size: $title-height - 10px;
      font-weight: bold;
    }
  }

  .map {
    position: absolute;
    left: 0;
    top: $title-height;
    width: $map-width;
    height: $fragment-height - $title-height;
  }

  .stat {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    margin: 0;

    h2 {
      margin: 0;
      line-height: $title-height;
      text-align: center;
      color: white;
    }

    &.sub-title {
      left: $title-height*2;
      top: $title-height;
      height: $title-height;
      line-height: $title-height;
      display: inline-block;
      vertical-align: middle;
      width: $fragment-width - $user-picture-diameter;
    }

    &.footer {
      left: 0;
      top: $fragment-height  - $footer-height - $footer-label-height - $attribution-height;
      width: $fragment-width;
      height: $footer-height;
    }

    &.footer-label {
      left: 0;
      top: $fragment-height - $footer-label-height - $attribution-height;
      width: $fragment-width;
      height: $footer-label-height;

      h2 {
        line-height: $footer-label-height;
        font-size: 17px;
      }

    }
  }

  .attribution {
    position: absolute;
    background-color: $logoblack;
    left: 0;
    top: $fragment-height - $attribution-height;
    width: $fragment-width;
    height: $attribution-height;
    line-height: $attribution-height;
    margin: 0;

    .attribute {
      color: white;
      font-size: 17px;

      &.url {
        a:link, a:visited, a:hover, a:active {
          font-weight: bold;
          color: $logored;
        }
      }
    }
  }

}



