@import "../../../../scss/variables";

.statsrow {
  //background-color: rgba(0, 0, 0, 0.3);
  //border-radius: 8px;
  //margin-top: 25px;
  padding-top: 0px;
  padding-bottom: 25px;

  .statspanel-muted {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

    // golden ratio...
    width: 200px;
    //height: 154px;

    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.3);

    text-align: center;
    border-radius: 8px;

    h3 {
      color: white;
      border-bottom: 0;
    }

    small {
      // Override the gray from Bootstrap
      color: white;
    }
  }
}
