/* 
 * Red9 Sensor Leaderboard (will adapt to rest of site soon)
 * Author: Merwan Rodriguez 
 *
 **/
body {
  background-image: url("/static/images/Indo_TelosIslands_RailGrab small.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #01001f;
  min-height: 100%; }

hr {
  border-top: solid 1px rgba(255, 255, 255, 0.125); }

.alert.alert-info {
  background-image: none;
  background-color: #003d54;
  color: #8ec549;
  border: 0;
  box-shadow: none;
  font-size: 1.2em;
  font-weight: 200; }

.list-group-item {
  background-color: #003d54;
  font-weight: bold;
  font-size: 18px; }

.table > tbody > tr.info > td {
  background-color: #003d54;
  padding-top: 20px;
  border-bottom: solid 2px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.profile-pic {
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.container .jumbotron {
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 42, 64, 0.98);
  color: whitesmoke;
  margin: 20px 0;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  border: solid 1px #222;
  font-weight: normal;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); }
  .container .jumbotron h1 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    color: whitesmoke;
    text-transform: uppercase; }
  .container .jumbotron a {
    font-weight: normal;
    color: #8ec549; }

.well {
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 42, 64, 0.85);
  background-image: none;
  color: #f5f5f5;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #003d54;
  font-weight: normal;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  float: left;
  width: 100%; }
  .well h2 {
    color: #8ec549;
    font-weight: 300; }
  .well h3 {
    font-weight: normal;
    border-bottom: solid 1px rgba(255, 255, 255, 0.125);
    padding-bottom: 5px;
    margin-top: 25;
    color: #8ec549;
    font-weight: 300; }
  .well a {
    color: #8ec549;
    font-weight: bold; }

.jumbotron .table tr, .well .table tr {
  background-color: rgba(0, 61, 84, 0.5); }
  .jumbotron .table tr td, .jumbotron .table tr th, .well .table tr td, .well .table tr th {
    padding: 10px 20px;
    font-size: 1.2em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.125); }
  .jumbotron .table tr th, .well .table tr th {
    padding-bottom: 0;
    vertical-align: bottom; }
.jumbotron .table.horizontal th, .well .table.horizontal th {
  padding-bottom: 10px; }
.jumbotron .map-container, .well .map-container {
  height: auto;
  opacity: .9;
  background-color: #003d54; }
.jumbotron .map, .well .map {
  padding-top: 20px;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.625);
  background-color: #003d54;
  border-radius: 5px; }
.jumbotron .map .embed-responsive, .well .map .embed-responsive {
  max-width: 96%;
  margin: 0 auto;
  opacity: .85; }

body .btn-default {
  box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.5);
  background-color: #003d54;
  background-image: none;
  color: white;
  text-shadow: 0 1px #333;
  line-height: 1;
  padding: 7px 15px;
  font-size: 16px; }

.btn-primary.btn.red9-button {
  background-color: #003d54;
  background-image: none;
  padding: 4px 10px; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0.6; }
  75% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.6; } }
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0.6; }
  75% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.6; } }
@-o-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0.6; }
  75% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.6; } }
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0.6; }
  75% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0.6; } }
.spinner-wrapper {
  text-align: center;
  width: 100%; }
  .spinner-wrapper .red9logo {
    background-image: url(/static/images/red9-logo-sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    -webkit-animation: pulsate 4s 0s infinite;
    -moz-animation: pulsate 4s 0s infinite;
    -o-animation: pulsate 4s 0s infinite;
    animation: pulsate 4s 0s infinite; }
    .spinner-wrapper .red9logo.large {
      height: 60px;
      width: 60px; }
    .spinner-wrapper .red9logo.med {
      height: 50px;
      width: 50px; }
    .spinner-wrapper .red9logo.small {
      height: 40px;
      width: 40px; }
    .spinner-wrapper .red9logo.large:after {
      content: "Loading...";
      display: block;
      height: 30px;
      width: 100px;
      color: rgba(238, 20, 91, 0.9);
      position: absolute;
      bottom: -26px;
      left: -16px;
      font-weight: bold;
      font-style: normal; }

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 17px;
  border: 1px solid transparent;
  border-radius: 7px 7px 0 0;
  border: solid 1px #f7f7f7;
  cursor: pointer; }

.leaderboards h2 {
  font-weight: 300; }
.leaderboards .teams a {
  display: inline-block;
  height: 20px; }
  .leaderboards .teams a.current {
    font-weight: bold;
    display: inline-block;
    height: 27px;
    border-bottom: solid 1px; }
  .leaderboards .teams a.current:hover {
    font-weight: bold;
    text-decoration: none; }
.leaderboards .date-wrapper {
  position: relative;
  margin-left: 10px; }
  @media (min-width: 768px) {
    .leaderboards .date-wrapper {
      top: 40px;
      float: left;
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 10px;
      margin: 10px 20px 10px 0; } }
  .leaderboards .date-wrapper h4 {
    margin-top: 0;
    font-weight: 300; }
.leaderboards .btn-leaderboard {
  padding: 1px 10px;
  color: white;
  background-color: #8ec549;
  font-size: 0.9em;
  max-width: 177px;
  border-radius: 2px; }
.leaderboards input[type="text"] {
  padding: 0 10px;
  line-height: normal;
  height: 25px;
  border-radius: 0; }
.leaderboards .dropdown-menu td .btn, .leaderboards .dropdown-menu th .btn {
  background: transparent;
  border-radius: 0;
  border: 0; }
.leaderboards .leaderboard-container .leaderboard {
  min-width: 960px; }
.leaderboards .leaderboard-container .leaderboard tr:first-child {
  height: auto; }
.leaderboards .leaderboard-container .leaderboard tr {
  height: 80px; }
.leaderboards .leaderboard-container .leaderboard tr:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); }
.leaderboards .leaderboard-container .leaderboard td, .leaderboards .leaderboard-container .leaderboard th {
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  text-align: center; }
  .leaderboards .leaderboard-container .leaderboard td:last-child, .leaderboards .leaderboard-container .leaderboard th:last-child {
    border-right: 0; }
.leaderboards .leaderboard-container .leaderboard th {
  border-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  background-color: #003d54;
  text-transform: uppercase;
  padding-bottom: 10px; }
.leaderboards .leaderboard-container .leaderboard thead tr {
  border-top-radius-right: 3px; }
.leaderboards .leaderboard-container .leaderboard thead tr:hover {
  background-color: #003d54; }
.leaderboards .leaderboard-container .leaderboard td {
  font-size: 24px;
  font-weight: 300;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1); }
.leaderboards .leaderboard-container .leaderboard td.surfer {
  white-space: nowrap;
  text-align: left;
  padding-left: 10px; }
  .leaderboards .leaderboard-container .leaderboard td.surfer img {
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .leaderboards .leaderboard-container .leaderboard td.surfer .name, .leaderboards .leaderboard-container .leaderboard td.surfer .team {
    display: inline-block;
    font-size: 20px;
    font-weight: normal; }
.leaderboards .leaderboard-container .leaderboard th a:after {
  font-family: FontAwesome;
  display: inline-block; }
.leaderboards .leaderboard-container .leaderboard .sorted.down:after {
  width: 20px;
  height: 20px;
  content: "\f107"; }
.leaderboards .leaderboard-container .leaderboard .sorted.up:after {
  width: 20px;
  height: 20px;
  content: "\f106"; }
.leaderboards .leaderboard-container .leaderboard .rank {
  font-size: 2.5em;
  font-weight: bold; }

/*# sourceMappingURL=leaderboard.css.map */
