line.slide {
  stroke-width: 2px;
  stroke-opacity: 0.5;

  &.hover {
    stroke: red;
    pointer-events: none; // Pass through the clicks, since the hover marker will always be under our mouse we don't really care if we click on it.
  }

  &.video {
    stroke: blue;
  }

  &.a, &.b {
    stroke: black;
  }
}

rect.plotarea {
  fill-opacity: 0;
}


line.axis {
  stroke-width: 1px;
  stroke: #949494;
  shape-rendering: crispEdges;
}

text.axis {
  font-size: 8pt;
  fill: #949494;
}