@import "../../scss/variables";

.event-table {

  thead {
    a {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;

      // Prevent ugly text selection when the user clicks quickly.
      // Support likely poor, but it works for SRLM...
      // http://stackoverflow.com/a/5527094/2557842
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: -moz-none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    a:after {
      font-family: FontAwesome;
      display: inline-block;
      padding-left: 1ch;

      // Prevent columns from changing widths (much) when sorting direction is
      //not displayed.
      content: "\00a0\00a0"; //&nbsp;
    }

    .sorted.down:after {
      content: "\f107";
    }

    .sorted.up:after {
      content: "\f106";
    }
  }

  // Link to graphs column
  tr {
    cursor: pointer;
  }

  th:first-child, td:first-child {
    width: 1px;
  }
}