/* 
 * Red9 Sensor Common
 * Author: Merwan Rodriguez 
 *
 **/

// @import "resets";
// @import "mixins";

// Fonts
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$notoSans: "Noto Sans", sans-serif; 

// Colors

$baseColor: rgb(0,42,64);
$green: rgb(142,197,73);
$headerColor: rgb(0, 61, 84);
$placeHolderColor: rgb(175,175,175);


// Common Dimensions



