
<div class="jumbotron">
        <div class="media">
            <a class="media-left" href="/user/{{dataset.owner.id}}">
                <img ng-src="{{dataset.owner.picture}}?sz=85" class="profile-pic" height="85px" width="85px">
            </a>

            <div class="media-body">
                <h1 class="media-heading">{{dataset.title}}
                    <span class="nobreak duration">{{dataset.duration | duration:true}}</span>
                </h1>
                <h4>
                    <small>from</small>
                    <a ng-href="/user/{{dataset.owner.id}}">{{dataset.owner.displayName}}</a>
                    <small>view</small>
                    <a href="/dataset/{{dataset.id}}" target="_self">Detailed Graphs</a></h4>
            </div>
        </div>
        <tag-helper resource="dataset" tag-key="tags"></tag-helper>
</div>

<div class="well">

    <div class="row">
        <div class="col-sm-6">
            <table class="table">
                <tr>
                    <th>Recorded</th>
                    <td>{{dataset.startTime | date:'short'}} ({{dataset.duration | duration:true}})</td>
                </tr>
                <tr>
                    <th>Uploaded</th>
                    <td>{{dataset.createTime | date:'short'}}</td>
                </tr>
                <tr>
                    <th>GPS On Time</th>
                    <td>{{dataset.gpsLock.validTime | duration:true}} on ({{dataset.gpsLock.validPercent}}%)</td>
                </tr>
                <tr>
                    <th>Distance</th>
                    <td>{{dataset.summaryStatistics.distance.path | units:'meters':'miles' | number:2}} miles ({{dataset.summaryStatistics.distance.path | number:0}} meters)</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <events-summary events="dataset.event"></events-summary>
        </div>
    </div>
</div>

<div class="well">
    <div class="row graph more-margin">
        <div class="col-sm-12">
            <event-timeline events="dataset.event"></event-timeline>
        </div>
    </div>

    <div class="row more-margin">
        <br/>
        <map resource="dataset"></map>
        <br/>
    </div>
</div>

<div class="well">
    <div ng-repeat="(type,events) in dataset.event | groupBy:'type'" class="row">
        <div class="col-sm-12">
            <h3>{{type}}</h3>    
        </div>
        <div class="col-sm-12">
            <div ng-include="'/static/partials/eventsummary/' + type.replace(' ', '_').toLowerCase() + '.group.html'"></div>    
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <h3>Statistics</h3>
            <div class="alert alert-info" role="alert"><i class="fa fa-flask"> </i> All values in this section are in SI units</div>
        </div>
        <div class="col-sm-12">
            <tabset>
                <tab heading="Summary Statistics">
                    <summary-statistics statistics="dataset.summaryStatistics"></summary-statistics>
                </tab>

                <tab heading="Aggregate Statistics">
                    <tabset>
                        <tab ng-repeat="(type, statistics) in dataset.aggregateStatistics"
                             heading="{{type}} ({{statistics.count}})">
                            <temporal-statistics statistics="statistics.temporal" resource-type="event"
                                                 id-list="statistics.idList"></temporal-statistics>
                            <compound-statistics statistics="statistics.compound" resource-type="event"
                                                 id-list="statistics.idList"></compound-statistics>
                        </tab>
                    </tabset>
                </tab>


                <tab heading="Detailed Location">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>GPS Lock</h3>
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <td>Valid Time</td>
                                    <td>{{dataset.gpsLock.validTime | duration:true}} ({{dataset.gpsLock.percentOn}}%)</td>
                                </tr>
                                <tr>
                                    <td>Invalid Time</td>
                                    <td>{{dataset.gpsLock.invalidTime | duration:true}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <h3>Bounding Circle</h3>
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <td>Latitude</td>
                                    <td>{{dataset.boundingCircle.latitude | number:5}}</td>
                                </tr>
                                <tr>
                                    <td>Longitude</td>
                                    <td>{{dataset.boundingCircle.longitude | number:5}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-4">
                            <h3>Bounding Box</h3>
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <td>North</td>
                                    <td>{{dataset.boundingBox.north | number:5}}</td>
                                </tr>
                                <tr>
                                    <td>South</td>
                                    <td>{{dataset.boundingBox.south | number:5}}</td>
                                </tr>
                                <tr>
                                    <td>East</td>
                                    <td>{{dataset.boundingBox.east | number:5}}</td>
                                </tr>
                                <tr>
                                    <td>West</td>
                                    <td>{{dataset.boundingBox.west | number:5}}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<hr/>
<div ng-if="$root.current.user.scope.indexOf('admin') !== -1">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="row"><h1>Admin Tools</h1></div>

    <div class="row">
        <h2>Automatic Event Detection</h2>

        <p>Start event finding. Note that this takes between 30 and 500 seconds. Do not press twice. To see the created
            events you'll need to refresh the page.</p>
        <button class="btn btn-danger" ng-click="eventFind(dataset)" ng-disabled="eventFindDisabled">Event Find</button>
    </div>

    <div class="row">
        <h2>Generate FCPXML</h2>
        <fcpxml-download dataset="dataset"></fcpxml-download>
    </div>
</div>

