<div class="jumbotron">
    <h1>Every Move Counts</h1>
    <p>
        Every wave, every pump, every turn, every air. Red9 Sensor measures, records, and understands your surfing and gives you a simple performance analysis of every wave. Build your profile, compare your waves, analyze your performance, and share them with friends and experts. Get feedback, tune your equipment, compete with friends, and become the best surfer you can be. Red9 gives surfers the tools to measure and quantify every movement, because <strong>Every Move Counts.</strong>
    </p>
    <hr />
    <p>
        <a class="btn btn-primary btn-lg red9-button" href="/leaderboard/" role="button">View Leaderboards</a>
        <a class="btn btn-primary btn-lg red9-button" href="/dataset/" role="button">View All Sessions</a>        
    </p>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h3>Data</h3>
            <a href="/upload/rnc" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
        </div>
        <div class="col-sm-6">
            <h3>Competition</h3>
            <a href="/leaderboard/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-globe"></span> Leaderboards</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Search</h3>
            <a href="/dataset/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-book"></span> Sessions</a>
            <a href="/event/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-bookmark"></span> Events</a>
            <a href="/user/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-user"></span> Users</a>
        </div>
        <div class="col-sm-6">
            <h3>Learn</h3>
            <a ng-href="http://www.redninesensor.com/" class="btn btn-default btn-lg">About Red9</a>
            <!--a ng-href="/page/team" class="btn btn-default btn-lg">Our Team</a-->
            <a ng-href="/page/jobs" class="btn btn-default btn-lg">Jobs</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Admin</h3>
            <a href="/admin" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-cog"></span> Admin</a>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>


<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div style="height: 640px; width: 640px" class="center-block">-->
<!--<carousel interval="myInterval" no-pause="true">-->
<!--<slide ng-repeat="slide in slides" active="slide.active">-->
<!--<img ng-src="{{slide.image}}" style="margin:auto;">-->

<!--<div class="carousel-caption">-->
<!--<p>Beautiful!</p>-->
<!--</div>-->
<!--</slide>-->
<!--</carousel>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

