<div class="jumbotron">
    <h1>Measure Up to You</h1>

    <p>Discover your inner performance with Red9.</p>

    <p><a class="btn btn-primary btn-lg" href="/dataset/" role="button">Look Around</a></p>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h3>Data</h3>
            <a href="/upload/rnc" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
        </div>
        <div class="col-sm-6">
            <h3>Leaderboards</h3>
            <a href="/leaderboard/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-globe"></span> Leaderboards</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Search</h3>
            <a href="/dataset/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-book"></span> Sessions</a>
            <a href="/event/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-bookmark"></span> Events</a>
            <a href="/user/" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-user"></span> Users</a>
        </div>
        <div class="col-sm-6">
            <h3>Learn</h3>
            <a ng-href="/page/about" class="btn btn-default btn-lg">About Red9</a>
            <a ng-href="/page/team" class="btn btn-default btn-lg">Our Team</a>
            <a ng-href="/page/jobs" class="btn btn-default btn-lg">Jobs</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Admin</h3>
            <a href="/admin" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-cog"></span> Admin</a>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>


<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div style="height: 640px; width: 640px" class="center-block">-->
<!--<carousel interval="myInterval" no-pause="true">-->
<!--<slide ng-repeat="slide in slides" active="slide.active">-->
<!--<img ng-src="{{slide.image}}" style="margin:auto;">-->

<!--<div class="carousel-caption">-->
<!--<p>Beautiful!</p>-->
<!--</div>-->
<!--</slide>-->
<!--</carousel>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

