<h2 class="row">Beta Leaderboard</h2>
<div class="row leaderboards">
    <div class="date-wrapper">
        <h4>Date Range</h4>
        <div>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ format }}" datepicker-options="dateOptions" ng-model="startDate.date"
                       is-open="startDate.opened" ng-required="true" close-text="Close" ng-click="startDate.open($event)" placeholder="Start date"/>
            </p>
        </div>

        <div>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ format }}" datepicker-options="dateOptions" ng-model="endDate.date"
                       is-open="endDate.opened" ng-required="true" close-text="Close" ng-click="endDate.open($event)" placeholder="End date" />
            </p>
        </div>
        <button type="button" class="btn btn-leaderboard col-sm-12" ng-click="runSearch()">Apply</button>
    </div>
    <br />
    <div class="leaderboard-container">
        <div ng-if="leaderboardData.length === 0">
            <br/><br/>No results found.
        </div>
        <div ng-if="leaderboardData === null">
            <span us-spinner></span>
        </div>
        <div ng-if="leaderboardData.length > 0">
            <div class="table-responsive">
                <table class="table table-hover table-condensed leaderboard">
                    <thead>
                    <th>Rank</th>
                    <th>Surfer</th>
                    <th>Waves / hour</th>
                    <th>Distance / Wave</th>
                    <th>Total Wave Distance</th>
                    <th>
                        <!-- <a href="#" ng-click="orderByField='sessions'; reverseSort = !reverseSort"> -->
                        Sessions
                        <!-- </a> -->
                    </th>
                    </thead>

                    <tbody>
                    <tr ng-repeat="row in leaderboardData|orderBy:'sessions':true" class="ngFade">
                        <td class="vertical-center rank">
                            {{ $index + 1}}

                        </td>
                        <td class="vertical-center surfer">
                            <a ng-href="/user/{{row.user.id}}">
                                <img ng-src="{{row.user.picture}}?sz=40" />
                                <span class="name">{{row.user.displayName}}</span>
                                <!-- <span class="team">{{team || "General"}}</span> -->
                            </a>
                        </td>
                        <td class="vertical-center waves-per-hour">
                            {{row.wavesPerHour | number:1}}
                        </td>
                        <td class="vertical-center distance-per-wave">
                            {{row.averageDistancePerWave | number:1}} m
                        </td>
                        <td class="vertical-center total-distance">
                            {{row.totalDistance | number:0}} m
                        </td>
                        <td class="vertical-center sessions">
                            <a ng-href="/dataset/?ownerId={{row.user.id}}&startTime.gt={{startTime}}&endTime.lt={{endTime}}">{{row.sessions | number:0}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-right">
        <p class="text-muted">{{leaderboardData.length}} surfers</p>
    </div>
</div>