<div class="row leaderboards jumbotron">
    <h1>Leaderboard</h1>
    <p class="teams">
        <a href="/leaderboard/leaderboard-team" ng-class="{'current': team == 'leaderboard-team'}">Mira Costa Team</a> |
        <a href="/leaderboard/leaderboard-pe" ng-class="{'current': team == 'leaderboard-pe'}">Mira Costa PE</a> |
        <a href="/leaderboard/leaderboard-general" ng-class="{'current': team == 'leaderboard-general'}">General Leaderboard</a>
    </p>
</div>

<div class="row leaderboards well">
    <!--div class="date-wrapper">
        <h4>Date Range</h4>
        <div>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ format }}" datepicker-options="dateOptions" ng-model="startDate.date"
                       is-open="startDate.opened" ng-required="true" close-text="Close" ng-click="startDate.open($event)" placeholder="Start date"/>
            </p>
        </div>

        <div>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{ format }}" datepicker-options="dateOptions" ng-model="endDate.date"
                       is-open="endDate.opened" ng-required="true" close-text="Close" ng-click="endDate.open($event)" placeholder="End date" />
            </p>
        </div>
        <button type="button" class="btn btn-leaderboard col-sm-12" ng-click="runSearch()">Apply</button>
    </div-->
    <br />
    <div class="leaderboard-container ">
        <div ng-if="leaderboardData.length === 0">
            <br/><br/>No results found.
        </div>
        <div ng-if="leaderboardData === null" class="spinner-wrapper">
            <i class="red9logo large pulse"></i>
        </div>
        <div ng-if="leaderboardData.length > 0">
            <div class="table-responsive">
                <table class="table table-hover table-condensed leaderboard">
                    <thead>
                    <th></th>
                    <th><a href="" ng-class="{'sorted': (predicate == 'user.displayName'), 'up': !reverse, 'down': reverse}"  ng-click="predicate = 'user.displayName'; reverse=!reverse">Surfer</a></th>
                    <th><a href="" ng-class="{'sorted': (predicate == 'eventsPerHour'), 'up': !reverse, 'down': reverse}"  ng-click="predicate = 'eventsPerHour'; reverse=!reverse">Waves / hour</a></th>
                    <th><a href="" ng-class="{'sorted': (predicate == 'averageEventDistance'), 'up': !reverse, 'down': reverse}"  ng-click="predicate = 'averageEventDistance'; reverse=!reverse">Distance / Wave</a></th>
                    <th><a href="" ng-class="{'sorted': (predicate == 'totalEventDistance'), 'up': !reverse, 'down': reverse}"  ng-click="predicate = 'totalEventDistance'; reverse=!reverse">Total Wave Distance</a></th>
                    <th><a href="" ng-class="{'sorted': (predicate == 'topSpeed'), 'up': !reverse, 'down': reverse}"  ng-click="predicate = 'topSpeed'; reverse=!reverse">Top Speed</a></th>
                    </thead>

                    <tbody>
                    <tr ng-repeat="row in leaderboardData | orderBy:predicate:reverse" class="ngFade">
                        <td class="vertical-center rank">
                            {{ $index + 1}}
                        </td>
                        <td class="vertical-center surfer">
                            <a ng-href="/user/{{row.user.id}}">
                                <img ng-src="{{row.user.picture}}?sz=40" />
                            </a>
                            <a ng-href="/user/{{row.user.id}}">
                                <span class="name">{{row.user.displayName}}</span>
                            </a>
                                <!-- <span class="team">{{team || "General"}}</span> -->
                        </td>
                        <td class="vertical-center waves-per-hour">
                            {{row.eventsPerHour | number:1}}
                        </td>
                        <td class="vertical-center distance-per-wave">
                            {{row.averageEventDistance | number:0}} ft
                        </td>
                        <td class="vertical-center total-distance">
                            {{row.totalEventDistance | number:0}} ft
                        </td>
                        <td class="vertical-center sessions">
                            {{row.topSpeed}} mph
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--div class="col-sm-12 text-right">
        <p class="text-muted">{{leaderboardData.length}} surfers</p>
    </div-->
</div>