<h2>Upload an RNC</h2>

<alert type="danger" ng-if="uploadError"><h4>Upload Error</h4>
    {{uploadError.statusCode}}<br/>
    {{uploadError.error}}<br/>
    {{uploadError.message}}
</alert>

<form name="form" role="form" novalidate>
    <div class="form-group">
        <label>Session Title</label>
        <input type="text" class="form-control" placeholder="Something descriptive..." ng-model="title" required>
    </div>
    <div class="form-group">
        <label>Owner</label>
        <input type="text" ng-model="user" typeahead-editable="false"
               typeahead="user as user.displayName for user in users | filter:$viewValue | limitTo:15"
               class="form-control" required>
    </div>
    <div class="form-group">
        <span class="btn btn-default btn-file">
            Select RNC <input type="file" valid-file ng-model="placeholderFile" ng-file-select="onFileSelect($files)"
                              required>
        </span>&nbsp&nbsp{{file.name}}
    </div>

    <hr/>

    <button type="button" class="btn btn-lg btn-primary" ng-click="beginUpload()" ng-disabled="form.$invalid">Begin
        Upload
    </button>
</form>
<br/>
<progressbar value="uploadPercent">{{uploadPercent}}%</progressbar>

<a ng-if="uploadDataset" ng-href="/analysis/{{uploadDataset.id}}">Go to your created dataset</a>