<section class="aggregate-statistics row">
	<ul class="fields col-md-6">
		<li class="field"><span class="name"># of Sessions</span><span class="value">2</span></li>
		<li class="field"><span class="name">Time Surfed</span><span class="value">5.2 hours</span></li>
		<li class="field"><span class="name"># of Waves</span><span class="value">125</span></li>
		<li class="field"><span class="name"># of Duckdives</span><span class="value">115</span></li>
	</ul>
	<ul class="fields col-md-6">
		<li class="field"><span class="name">Distance Ridden</span><span class="value">1350'</span></li>
		<li class="field"><span class="name">Max Speed</span><span class="value">23 mph</span></li>
		<li class="field"><span class="name">Waves/Hour</span><span class="value">30</span></li>
		<li class="field"><span class="name">Distance/Wave</span><span class="value">30'</span></li>
	</ul>
</section>