<section class="aggregate-statistics row">
    <ul class="fields col-md-6">
        <li class="field"><span class="name"># of Sessions</span><span
                class="value">{{aggregateStatistics.datasets.count}}</span></li>
        <li class="field"><span class="name">Time Surfed</span><span
                class="value">{{aggregateStatistics.datasets.temporal.duration.sum | duration:true}}</span>
        </li>
        <li class="field"><span class="name"># of Waves</span><span
                class="value">{{aggregateStatistics.events.Wave.count}}</span>
        </li>
        <li class="field"><span class="name"># of Duck Dives</span><span
                class="value">{{aggregateStatistics.events['Duck Dive'].count}}</span>
        </li>
    </ul>
    <ul class="fields col-md-6">
        <li class="field"><span class="name">Distance Ridden</span><span
                class="value">{{aggregateStatistics.events.Wave.compound.distance.path.sum | units:'meters':'feet' | number:0}} feet</span>
        </li>
        <li class="field"><span class="name">Max Speed</span><span
                class="value">{{aggregateStatistics.events.Wave.compound.gps.speed.maximum.value | units:'knots':'mph' | number:1}} mph</span>
        </li>
        <li class="field"><span class="name">Waves/Hour</span><span
                class="value">{{aggregateStatistics.events.Wave.temporal.frequency | units:'Hz':'RPH' | number:2}}</span>
        </li>
        <li class="field"><span class="name">Distance/Wave</span><span
                class="value">{{aggregateStatistics.events.Wave.compound.distance.path.average | units:'meters':'feet' | number:0}} feet</span>
        </li>
    </ul>
</section>