<div ng-if="muted !== 'true'">
    <big>
<span ng-repeat="item in list">
<span class="label label-primary">
{{display(item) | limitTo:35}} <i ng-if="editable==='true'" class="fa fa-close"
                                  ng-click="removeBadge(item)"></i>
</span>&nbsp;
</span>
    </big>
</div>

<div ng-if="muted === 'true'">
<span ng-repeat="item in list">
    <span class="text-muted">
        [ {{display(item) | limitTo:35}} <i ng-if="editable==='true'" class="fa fa-close"
                                            ng-click="removeBadge(item)"></i> ]
    </span>&nbsp;
</span>
</div>