<table class="table table-condensed">
    <thead>
    <th></th>
    <th>Min</th>
    <th>Avg</th>
    <th>Max</th>
    <th>Sum</th>
    </thead>
    <tbody>
    <tr ng-repeat-start="(measurement, axisValues) in statistics" class="info">
        <td><b>{{measurement}}</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat-end ng-repeat="(axis, values) in axisValues">
        <td>{{axis}}</td>
        <td><a ng-href="/{{resourceType}}/{{values.minimum.id}}" target="_self">{{values.minimum.value | number:2}}</a></td>
        <td><a ng-href="{{listUrl}}">{{values.average | number:2}}</td>
        <td><a ng-href="/{{resourceType}}/{{values.maximum.id}}" target="_self">{{values.maximum.value | number:2}}</a></td>
        <td><a ng-href="{{listUrl}}">{{values.sum | number:2}}</a></td>
    </tr>
    </tbody>
</table>
