<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" ng-model="typeInput" typeahead-editable="false"
                       typeahead="type for type in eventTypes | filter:$viewValue | limitTo:15" class="form-control"
                       placeholder="type" keypress-enter="addType()">
            </div>
            <div class="col-sm-4">
                <!--<input type="text" class="form-control" placeholder="tags" keypress-enter="addTag()" ng-model="tagInput">-->
            </div>
            <div class="col-sm-4">
                <!--<user-input list="userList" placeholder="owner"></user-input>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <badge-list list="typeList"></badge-list>
                &nbsp;
            </div>
            <div class="col-sm-4">
                <!--<badge-list list="tagList"></badge-list>-->
            </div>
            <div class="col-sm-4">
                <!--<badge-list list="userList" display-key="displayName"></badge-list>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <badge-list list="datasetList" display-key="title"></badge-list>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn" ng-click="startSearch()">Search</button>
            </div>
        </div>
    </div>
</div>

<!--TODO: Search by date, dataset Owner, source-->