<ul class="list-group" ng-if="list.length > 0">
    <li class="list-group-item" ng-repeat="item in list">
        {{item}}
        <button ng-if="editable==='true'" type="button" class="close" ng-click="removeItem(item)"><span
                aria-hidden="true">&times;</span></button>
    </li>
</ul>
<p class="text-muted" ng-if="list.length === 0"><i>None</i></p>


<div class="input-group" ng-if="editable==='true'">
    <input type="text" class="form-control" ng-model="newItem" placeholder="add new" keypress-enter="addItem()">
    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="addItem()">
        <span class="glyphicon glyphicon-plus"></span></button></span>
</div>


