<table class="table table-condensed">
    <thead>
    <th></th>
    <th>Min</th>
    <th>Avg</th>
    <th>Max</th>
    <th>Sum</th>
    </thead>
    <tr ng-if="statistics.interval">
        <td>Interval</td>
        <td><a ng-href="/{{resourceType}}/?idList={{statistics.interval.minimum.id.join(',')}}" target="_self">{{statistics.interval.minimum.value
            | duration:true}}</a></td>
        <td><a ng-href="{{listUrl}}">{{statistics.interval.average | duration:true}}</a></td>
        <td><a ng-href="/{{resourceType}}/?idList={{statistics.interval.maximum.id.join(',')}}" target="_self">{{statistics.interval.maximum.value
            | duration:true}}</a></td>
        <td><a ng-href="{{listUrl}}">{{statistics.interval.sum | duration:true}}</a></td>

    </tr>
    <tr>
        <td>Duration</td>
        <td><a ng-href="/{{resourceType}}/{{statistics.duration.minimum.id}}" target="_self">{{statistics.duration.minimum.value
            | duration:true}}</a></td>
        <td><a ng-href="{{listUrl}}">{{statistics.duration.average | duration:true}}</a></td>
        <td><a ng-href="/{{resourceType}}/{{statistics.duration.maximum.id}}" target="_self">{{statistics.duration.maximum.value
            | duration:true}}</a></td>
        <td><a ng-href="{{listUrl}}">{{statistics.duration.sum | duration:true}}</a></td>
    </tr>
</table>