<section class="user-details row">
	<ul class="fields col-sm-6">
		<li class="field"><span class="name">Height</span><input type="text" class="value" value="6'" /></li>
		<li class="field"><span class="name">Weight</span><input type="text" disabled="disabled" class="value" value="180 lbs" /></li>
		<li class="field"><span class="name">Stance</span><input type="text" disabled="disabled" class="value" value="Regular" /></li>
		<li class="field"><span class="name">Surfing Since</span><input type="text" disabled="disabled" class="value" value="2005" /></li>
	</ul>
	<ul class="fields col-sm-6">
		<li class="field"><span class="name">Local Break</span><input type="text" disabled="disabled" class="value" value="---" /></li>
		<li class="field"><span class="name">Favorite Shop</span><input type="text" disabled="disabled" class="value" value="SurfShop7" /></li>
		<li class="field"><span class="name">Tag Line</span><input type="text" disabled="disabled" class="value" value="This is a tag line" /></li>
		<li class="field"><span class="name">City, State</span><input type="text" disabled="disabled" class="value" value="Cupertino, CA" /></li>
	</ul>
	<div class="col-sm-1">
		<button class="btn btn-primary">Save</button>
	</div>
</section>