<table class="table event-table">
    <thead>
    <tr>
        <th>
            <a ng-class="{'sorted': (sortState.predicate==='index'), 'up': !sortState.reverse, 'down': sortState.reverse}"
               ng-click="sort('index')">#</a></th>
        <th>
            <a ng-class="{'sorted': (sortState.predicate==='duration'), 'up': !sortState.reverse, 'down': sortState.reverse}"
               ng-click="sort('duration')">Duration</a></th>
        <th>
            <a ng-class="{'sorted': (sortState.predicate==='distance'), 'up': !sortState.reverse, 'down': sortState.reverse}"
               ng-click="sort('distance')">Distance (m)</a></th>
        <th>
            <a ng-class="{'sorted': (sortState.predicate==='speed'), 'up': !sortState.reverse, 'down': sortState.reverse}"
               ng-click="sort('speed')">Top Speed (kn)</a></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="event in viewModel.events track by event.id">
        <td>{{event.index + 1}}</td>
        <td>
            <div class="inline-bar">
                <div class="units">{{event.duration | duration:true}}</div>
                <div class="bar-area">
                    <div class="bar" ng-style="{width: event.bars.duration + '%'}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="inline-bar">
                <div class="units">{{event.distance | number:1}}</div>
                <div class="bar-area">
                    <div class="bar" ng-style="{width: event.bars.distance + '%'}"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="inline-bar">
                <div class="units">{{event.speed | number:1}}</div>
                <div class="bar-area">
                    <div class="bar" ng-style="{width: event.bars.speed + '%'}"></div>
                </div>
            </div>
        </td>
        <td>
            <a ui-sref="^.^.graphs({startTime: event.startTime, endTime: event.endTime})" title="Graphs">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>