@import "../../scss/variables";

.event-table {

  thead {
    a {
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
    }

    a:after {
      font-family: FontAwesome;
      display: inline-block;
      padding-left: 1ch;

      // Prevent columns from changing widths (much) when sorting direction is
      //not displayed.
      content: "\00a0\00a0"; //&nbsp;
    }

    .sorted.down:after {
      content: "\f107";
    }

    .sorted.up:after {
      content: "\f106";
    }
  }

  // Link to graphs column
  th:last-child, td:last-child {
    width: 1px;
    text-align: right;
  }

  th:first-child, td:first-child {
    width: 1px;
  }
}