<section class="user-details row">
    <div class="alert alert-danger" ng-if="updateError">
        {{updateError.statusCode}} {{updateError.error}}: {{updateError.message}}
    </div>
    <h2 class="col-md-12">Personal Details</h2>
    <h5 class="col-md-12" ng-if="editable">Click on a field to edit it <span
            ng-if="saving">(Saving <i
            class="fa fa-spinner fa-spin"></i> )</span></h5>

    <ul class="fields col-md-6">
        <li class="field" ng-if="editable || userDetails.height"><label><span
                class="name">Height</span>
            <select ng-model="userDetails.height"
                    ng-change="saveChanges()"
                    class="height-dropdown value"
                    ng-disabled="!editable"
                    ng-options="opt.value as opt.label for opt in heightSelectList">
            </select>
        </label>
        </li>
        <li class="field" ng-if="editable || userDetails.weight"><label><span
                class="name">Weight</span>
            <input
                    placeholder="Enter weight in pounds"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-change="saveChanges()" ng-disabled="!editable"
                    class="value"
                    ng-model="userDetails.weight"
                    user-input-imperial="lb"/>
        </label>
        </li>
        <li class="field" ng-if="editable || userDetails.sport.surf.stance">
            <label><span class="name">Stance</span>
                <select ng-model="userDetails.sport.surf.stance"
                        ng-model-options="{ updateOn: 'blur' }"
                        ng-change="saveChanges()"
                        class="stance-dropdown value"
                        ng-disabled="!editable">
                    <option value="regular">Regular</option>
                    <option value="goofy">Goofy</option>
                    <option value="switch">Switch</option>
                </select>
            </label>
        </li>
        <li class="field" ng-if="editable || userDetails.sport.surf.startDate">
            <label><span
                    class="name">Surfing Since</span><input
                    type="text" placeholder="Enter year"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-change="saveChanges()"
                    ng-disabled="!editable" class="value"
                    ng-model="userDetails.sport.surf.startDate"
                    user-input-imperial="year"/>
            </label></li>
    </ul>
    <ul class="fields col-md-6">
        <li class="field" ng-if="editable || userDetails.sport.surf.localBreak">
            <label><span class="name">Local Break</span><input
                    type="text" placeholder="Enter a location"
                    ng-model-options="{ updateOn: 'blur' }"
                    ng-change="saveChanges()"
                    ng-disabled="!editable" class="value"
                    ng-model="userDetails.sport.surf.localBreak"/></label></li>
        <li class="field"
            ng-if="editable || userDetails.sport.surf.favoriteShop"><label><span
                class="name">Fav. Shop</span><input
                type="text" placeholder="Enter name of shop"
                ng-model-options="{ updateOn: 'blur' }"
                ng-change="saveChanges()"
                ng-disabled="!editable" class="value"
                ng-model="userDetails.sport.surf.favoriteShop"/></label></li>
        <li class="field" ng-if="editable || userDetails.tagline"><label><span
                class="name">Tag Line</span><input
                type="text" placeholder="Enter a tagline"
                ng-model-options="{ updateOn: 'blur' }"
                ng-change="saveChanges()" ng-disabled="!editable"
                class="value"
                ng-model="userDetails.tagline"/></label></li>
        <li class="field"
            ng-if="editable || userDetails.city || userDetails.state">
            <label><span class="name">City, State</span>
                <input
                        type="text" placeholder="Enter a city"
                        ng-model-options="{ updateOn: 'blur' }"
                        ng-change="saveChanges()" ng-disabled="!editable"
                        class="value city" ng-model="userDetails.city"/>,
                <select ng-model="userDetails.state"
                        ng-change="saveChanges()"
                        class="state-dropdown value" ng-disabled="!editable">
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WI</option>
                </select>
            </label>
        </li>
    </ul>

    <h2 class="col-md-12">Equipment</h2>
    <ul class="fields col-md-12">
        <li class="field equipment"
            ng-if="editable || userDetails.sport.surf.favoriteBoard">
            <label><span class="name">Fav. Board</span>
                <input type="text"
                       placeholder="Enter model and dimensions"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-change="saveChanges()"
                       ng-disabled="!editable"
                       class="value"
                       ng-model="userDetails.sport.surf.favoriteBoard"/></label>
        </li>
    </ul>
</section>