@import "../../scss/variables";
@import "../../scss/red9theme";
@import "../../scss/graphs";

.displayName {
	font-size: 1.1em;
	display: inline-block;
	padding-left: 10px;
}
.text-muted {
	color: white;
	font-size: .7em;
}
.table-responsive {
	border: solid 1px $headerColor;
}
.table-responsive th:nth-child(2) {
  width:300px;
}
.table-responsive th {
	background-color: $headerColor;
}
.table td {
	padding: 10px;
}
.table .expanded-info td {
	padding: 10px 30px;
	font-size: 1.25em;
}
.table tr:hover .text-muted {
	color: #333;
}
.table .expanded-info:hover {
	color: #333;
}
.table {
	margin-bottom: 0;
}

.popover {
  background-color: $headerColor;
}

.popover-content {
  background-color: $headerColor;
}