<!DOCTYPE html>
<html lang="en" class="no-js" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Render Map - Red9</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <!-- build:css css/sessionshare.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
    <!-- endbower -->
    <link rel="stylesheet" href="fragments/map/map.css"/>
    <link rel="stylesheet" href="components/map/map.css"/>
    <!-- endbuild -->
</head>
<body ng-strict-di>

<div class="sessionshare" ng-controller="pageController">
    <div class="map">
        <map panel="dataset.panel.panel"
             highlights="highlights"
             interactive="true"
             controls="false"></map>
    </div>
</div>


<!-- Livereload script for development only (stripped during dist build) -->
<script src="http://localhost:35729/livereload.js" data-remove="true"></script>

<!-- build:js js/sessionshare_vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
<script src="bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="config.js"></script>

<!-- build:js js/sessionshare_app.js -->

<script src="fragments/map/map.js"></script>
<script src="components/authenticate/authenticate.js"></script>
<script src="components/head/head.js"></script>
<script src="components/api/api.js"></script>
<script src="components/map/map.js"></script>
<script src="init.js"></script>
<!-- endbuild -->

</body>
</html>
